body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(241, 245, 248);
}

ul li {
  margin: 0.4rem;
}

span {
  letter-spacing: 0.1rem;
}

h3 {
  font-weight: 700;
}

button {
  min-width: 3rem;
}
